.header-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  max-width: 100%;
  width: 100vw;
  padding: 10px 30px;
  background-color: rgb(255, 234, 0);
}
