.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  max-width: 100%;
  width: 100vw;
  padding: 20px 30px;
  background-color: cadetblue;
}
